.content__img-tables {
    margin: 0 auto;
    text-align: center;
}

.table {
    border: 2px solid rgb(159, 159, 159);
    padding: 3px;

}

.app h1 {
    text-align: center;
}

.hr__title {
    width: 100%;
}

.app {
    display: grid;
    padding: 10px 30px; 
}

/* .content__table {
    margin-top: 50px;
    text-align: center;
} */

.content__endpoint {
    border: 2px solid rgb(159, 159, 159);
    text-align: center;
   
}